body {
	background-color: #ffc;
	background: #ffc;
}

a {
	color: #a00;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:visited {
	color: #500;
	text-decoration: none;
}

.draft {
	color: #a00;
}

.mute {
	color: #aaa;
}

.mute a {
	color: #aaa;
	text-decoration: none;
}

.mute a:hover {
	color: #a00;
}

.disqus_thread {
	width: 31em;
}
